<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="path" value="G:\\logback"></property>
    <property name="file" value="gyex-website"></property>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>{path}\{file}.log</File>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="com.gyex" additivity="true" level="TRACE,ERROR,INFO,DEBUG">
        <!--  <appender-ref ref="dailyRollingFileAppender"/>-->
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.ibatis" additivity="true" level="TRACE,ERROR,INFO,DEBUG">
        <!--  <appender-ref ref="dailyRollingFileAppender"/>-->
        <appender-ref ref="consoleAppender"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>