<div>

    <div id="carousel-ad" class="carousel slide" data-ride="carousel" data-interval="2000">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="item-container" style="background: url('/images/slide/two.jpg') no-repeat;"></div>
                <!--<div class="carousel-caption">
                    Huawei p9
                </div>-->
            </div>
            <div class="item">
                <div class="item-container" style="background: url('/images/slide/three.jpg') no-repeat;"></div>
                <!-- <div class="carousel-caption">
                     iphone 5s
                 </div>-->
            </div>
            <div class="item">
                <div class="item-container" style="background: url('/images/slide/four.jpg') no-repeat;"></div>
                <!--<div class="carousel-caption">
                    iphone 5s
                </div>-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-ad" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-ad" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="service-float">
            <div class="container">
                <ul class="nav services-box">
                    <li class="service-item col-md-1">
                        <i class="glyphicon glyphicon-earphone"></i>
                        <span>电话下单</span>
                    </li>
                    <li class="service-item col-md-1">
                        <i class="glyphicon glyphicon-search"></i>
                        <span>快件追踪</span>
                    </li>
                    <li class="service-item col-md-6 item-content">

                        <div class="float-left w100p pt10 h40"><span class="float-left">输入快递单号</span></div>
                        <div class="form-group">
                            <div class="input-group">

                                <input class="form-control" name="expressOrderId" type="search"
                                       placeholder="最多可输入5个快递单号，以分号分隔！"/>
                                    <span class="input-group-btn">
                                      <button class="btn btn-success"><i class="glyphicon glyphicon-search"></i>&nbsp;追踪
                                      </button>
                                    </span>
                            </div>
                        </div>
                    </li>
                    <li class="service-item col-md-1 online-service">
                        <i class="glyphicon glyphicon-headphones"></i>
                        <span>在线客户</span>
                    </li>
                    <li class="service-item col-md-1">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <span>网点查询</span>
                    </li>
                    <li class="service-item col-md-1">
                        <i class="glyphicon glyphicon-usd"></i>
                        <span>运费查询</span>
                    </li>
                    <li class="service-item col-md-1">
                        <i class="glyphicon glyphicon-qrcode"></i>
                        <span>移动服务</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container hot-top pt20">

        <div class="left-item col-md-4">
            <div class="box">
                <div>

                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box">
                <div>

                </div>
            </div>
        </div>
    </div>

    <div class="container hot-top pb20">
        <div class="left-item col-md-4">
            <div class="box">
                <div class="">
                    <!-- <ul class="nav navbar">
                         <li><a href="../service/FAQ.html" class="xz-ico">
                             <h5><i class="glyphicon glyphicon-alert"></i></h5>
                             <span>禁寄物品</span></a></li>
                         <li><a href="../service/FAQ.html" class="xz-ico xz-blue">
                             <h5><i class="glyphicon glyphicon-pencil"></i></h5>
                             <span>面单填写</span></a></li>
                         <li><a href="../service/FAQ.html" class="xz-ico xz-violet">
                             <h5><i class="glyphicon glyphicon-pencil"></i></h5>
                             <span>如何包装</span></a></li>
                          <li><a href="../service/FAQ.html" class="xz-ico xz-green">
                              <h5><i class="glyphicon glyphicon-info-sign"></i></h5>
                              <span>如何签收</span></a></li>
                          <li><a href="../service/FAQ.html" class="xz-ico xz-yellow">
                              <h5><i class="glyphicon glyphicon-info-sign"></i></h5>
                              <span>查询时效</span></a></li>
                          <li><a href="../product/Grossreturn.html" class="xz-ico xz-blue">
                              <h5><i class="glyphicon glyphicon-pencil"></i></h5>
                              <span>签单返还</span></a></li>
                     </ul>-->
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>